.country {
    padding: 50px;

}

a {
    text-decoration: none;
}

.country .back {
    position: relative;
    right: 62px;
    margin-bottom: 25px;
    gap: 10px;
    height: 30px;
    width: 150px;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--article-color);
    border: 0;
    outline: 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.fa-arrow-left {
    position: relative;
    right: 20px;
}

.country .back.light-theme {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);   
}

.btn-light {
    margin-bottom: 30px;
    display: inline-block;
}

.country article .country-details div {
margin: 30px 0;
}


.country article .country-inner {
margin: 15px auto 0;
padding: 15px;
max-width: 1400px;
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
}

.country article .flag {
position: relative;
right: 78px;
width: 100%;
object-fit: cover;
}

.country article .country-details div h2{
    font-size: 30px;
    letter-spacing: 1px;
}
.country article .country-details div h5{
    font-weight: 600;
    margin: 10px 0;
    font-size: 18px;
}

.country article .country-details div h5 span{
    font-weight: 300;
}

.country article h3{
    font-weight: 600;
    }

.country article .borders {
    position: relative;
    bottom: 155px;
    left: 700px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}


.country .country-details .inner-details {
    margin-top: -3px;
}

.country article .borders ul {
margin: 10px;
list-style-type: none;
background-color: var(--article-color);
padding: 3px 20px;
border-radius: 3px;
box-shadow: 0 5px 20px hsla(200, 15%, 8%, 0.5);
}

.country article .currencies {
    display: flex;
}

.country article .currency {
    list-style-type: none;
}

.country article .languages {
    display: flex;
}

.country article .lang {
    list-style-type: none;
}

.country article .border-title {
    position: relative;
    left: 555px;
    bottom: 120px;
}

.country article .borders ul.light-theme {
    background-color: var(--light-mode-background);
    color: var(--light-mode-text);
}

@media (max-width: 375px) {
    .country article .country-inner {
        display: grid;
        grid-template-columns: repeat(1fr);
        
    }

    .country .back{
        left: 15px;
        width: 100px;
    }

    .country article .flag {
        position: relative;
        left: 0px;
        }

    .country article .borders {
        position: relative;
        bottom: 5px;
        left: -5px;
        flex-wrap: wrap;
    }

    .country article .border-title {
        position: relative;
        left: -5px;
        bottom: 5px;
    }

  }

@media (min-width:992px) {
    .country article .country-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .country .country-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }
}

@media (min-width: 1200px) {
.country {
    max-width: 1100px;
    margin: auto;

}
}

@media (min-width: 1366px) {
    .country {
        max-width: 1200px;
        
    }
    }

@media (min-width: 1400px) {
    .country {
        max-width: 1400px;
        margin: auto;
    }
    }