@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
font-family: "Nunito Sans", sans-serif;
background-color: var(--dark-bg-color);
color: var(--text-color);
transition: background-color 0.4s;
}


body.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: var(--dark-bg-color);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 2px solid var(--dark-bg-color);
  border-radius: 4px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #fff;
  color: var(--dark-bg-color);
}

.btn-light {
  background-color: var(--article-color);
  border: 2px solid var(--article-color);
}

/* Overvall padding */
.header,
.form,
.countries {
  padding: 10px 50px;
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 5px 10px hsla(200, 15%, 8%, 0.1);
}

i {
  position: relative;
  right: 20px;
}

.header h1 {
  position: relative;
  left: 10px;
}

.header .moon-btn {
  background-color: var(--article-color);
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: var(--text-color);
  cursor: pointer;
}

.header .moon-btn.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.header.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

/* Filter */
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.select {
  position: relative;
  right: 30px;
}

.form input,
.form select {
  position: relative;
  left: 10px;
  background-color: var(--article-color);
  padding: 12px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
}

.form input::placeholder {
  color: var(--text-color);
}

.form input.light-theme,
.form select.light-theme {
  background-color: var(--light-mode-input);
}

/* countries */
.countries {
  padding: 0 50px 50px;
  justify-content: center;
  align-items: center;
  gap: 35px;
}


.country-container {
  background-color: var(--article-color);
  color: white;
  width: 250px;
  height: 360px;
  box-shadow: hsla(200, 15%, 8%, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.country-container .flag {
height: 170px;
width: 100%;
}

.country-container .flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country-container .country-name {
  margin-bottom: 0;
}

.country-container .values {
  color: gray;
}

.country-container .details {
  padding: 30px;
 
}

.country-container .details.light-theme {
  background-color: var(--text-color);
  color: var(--light-mode-text);
  background-color: 0px 3px 15px rgba(0, 0, 0, 0.2);;
}

.country-container .details p {
  margin-bottom: 5px;
}

input::placeholder{
position: relative;
left: 40px;
}

#search {
  width: 350px;
  
}

.search-icon {
  position: relative;
  right: 570px;
}


/* Media queries */

@media (max-width: 375px) {
  .header {
    height: 80px;
    position: relative;
    left: 5px;
  }
  .select {
    right: 87px;
  }

  .search-icon {
    position: relative;
    right: -30px;
    bottom: 63px;
  }
  .moon-btn {
    position: relative;
    left: 250px;
    bottom: 45px;
  }

  .country-container {
    margin: -10px 10px 30px;
  }

  .countries .details {
    height: 200px;
  }

}

@media (min-width: 640px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .countries .details {
    margin: -10px 0 0;
    height: 200px;
  }
}

@media (min-width: 992px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1366px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 20px;
    padding: 20px 0;
  }

  .form input {
    width: 90vw;
    margin-bottom: 20px;
  }

  .form .select select {
    width: 50vw;
  }
}